/* reset */
html, body, header, section, h1, p, button {
  margin: 0;
  padding: 0;
  border: 0;
}
/* geral */
body {
  font-family: sans-serif;
  font-weight: lighter;
  color: #fff;
}
.container {
  width: 980px;
  margin: 0 auto;
}
.titulo-secao {
  text-decoration: none;
  font-size: 2em;
  text-align: center;
}
/* header */
header {
  width: 100%;
  height: 60px;
  background-color: #000;
  position: absolute;
}
header .container {
  position: relative;
}
.menu-principal {
  position: absolute;
  font-size: 1.2em;
  text-align: left;
}
.menu-principal ul {
  padding-left: 0;
  text-align: center;
}
.menu-principal li {
  display: inline-block;
  width: 5em;
}
.menu-principal a {
  color: #fff;
  text-decoration: none;
}
.menu-principal a:hover {
  text-decoration: underline;
}
.pesquisa {
  font-style: italic;
  font-size: .9em;
  background-repeat:no-repeat;
  background-image:url(../imagens/lupa.png);
  background-size: 15px 15px;
  background-position: 10px;
  border: solid 1px;
  border-radius: 13px;
  margin: .8em auto;
  padding: .5em .5em .5em 2.2em;
  float: right;
}
/* banner */
.banner {
  height: 400px;
  background-color: #a6a6a6;
  padding-top: 5em;
  text-align: center;
}
.banner h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 1em;
}
.banner p {
  font-size: 1.3em;
  line-height: 1.1;
  margin-top: 1em;
}
.banner button {
  font-size: 1.5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  -o-border-radius: .5em;
  border-radius: .5em;
  border: solid 1px #fff;
  background-color: #a6a6a6;
  color: #fff;
  margin-top: 1em;
  padding: .8em;
  font-weight: lighter;
  cursor: pointer;
}
section .container {
  width: 30em;
}
